<div layout="row">
  <div layout="column" layout-fill>
    <mat-toolbar color="primary">
      <span>Application Name</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-button *ngIf="auth.isAuthenticated">Clients</button>
      <button mat-button *ngIf="auth.isAuthenticated" [routerLink]="['/dashboard']">Home</button>
      <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/user/register">Register</button>
      <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/user/login">Login</button>
      <button *ngIf="auth.isAuthenticated" mat-button (click)="auth.logout()">Logout</button>
    </mat-toolbar>
  </div>
</div>
